.main{
  
}
.img {
  border-radius: 20px;
  /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));  */
  /* url("https://i.imgur.com/xnh5x47.jpg"); */
  height: 300px;
  width: 200px;
  /* position: absolute; */
  /* background: rgba(0, 0, 0, 0.5); */
  /* opacity: 0.5; */
}
/* @media only screen and (min-width: 1024px) {
  .login {
  background-color: blueviolet;

    font-size: 26px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 10px; */
    /* margin-left: 250px; */
    /* margin-top: -20px; */
  /* }  */
  
/* } */ 
.divSignUp{
  width: 500px;
}
/* .divFormLogin{  */
  /* max-width:100%;height:auto; */
  /* margin-left: -350px; */
  /* margin-top: -250px; */

  /* width: 150%; */
  /* border: 3px solid green; */
  /* padding: 10px; */
/* } */
.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: initial;
  font-weight: bold;
}
.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.display {
  height: 300px;
  float: left;
  width: 210px;
  border: 0px solid green;
  padding: 10px;
  margin: 60px;
}
.edit {
  /* margin-top: 5100px; */
  /* opacity: 0.5; */
  margin: 0px -1px -100px -1px;
  height: 100px;
  position: relative;
  width: 209px;
}
.header {
  /* background-color: rgb(101, 101, 219); */
  /* height: 80px; */
}
.select {
  margin-top: -30px;
  float: right;
  height: 30px;
  font-size: 20px;
}
.infinite-scroll-component__outerdiv {
  width: 100%;
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  /* .form-signin-heading, */
	/* .checkbox { */
	  margin-bottom: 30px;
	}
  /* @include box-sizing(border-box){ */

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
  
      
    }
 
